//color
$lightBackground: rgb(247, 245, 242);
$darkBackground: rgb(235, 231, 224);

$black: rgb(28, 37, 40);
$orange: #ff7f59;

//typography

// font-family: 'Rubik', sans-serif;
// font-family: 'Sorts Mill Goudy', serif;
html {
    font-size: 62.5%;
}

body {
    background-color: $lightBackground;
    color: $black;
    font-family: 'Sorts Mill Goudy', serif;
    padding-top: 46px;
}

//Other
.wrapper {
    max-width: 78.8%;
    margin: 0 auto;
}

h2 {
    margin: 0;
    font-size: 15rem;
}

h3 {
    font-size: 12rem;
}

p, a {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: $orange;
}