nav {
    height: 24px;
}

header {
    margin-top: 220px;

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h1 {
        margin: 1.6rem 0 0 0;
        font-size: 12.6rem;
        text-transform: uppercase;
        line-height: 11rem;
    }

    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 5.2rem;
        margin-left: 2px;
    }

    .item1 {
        position: relative;
        left: 262px;
        top: -121px;
        width: 946px;
        height: 516px;
        order: 1;
    }

    .circle {
        position: absolute;
    }

    .circle1 {
        right: 124px;
        top: 94px;
        z-index: 50;
    }

    .circle2 {
        right: 86px;
        top: 0;
        z-index: 40;
    }

    .circle3 {
        left: 0;
        top: 298px;
        z-index: 30;
    }

    .circle4 {
        right: 77px;
        bottom: 0;
        z-index: 20;
    }

    .circle5 {
        right: 0;
        top: 298px;
        z-index: 10;
    }

    .item2 {
        width: 50%;
    }

    .item3 {
        position: relative;
        top: 95px;
        width: 20.7%;
    }
}

.aboutMe {
    background: $darkBackground;
}