header {
    h1 {
        font-size: 12.6rem;
        text-transform: uppercase;
    }

    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
    }
}