nav {
    height: 24px;
    i {
        font-size: 5rem;
    }
}

header {
    margin-top: 220px;

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h1 {
        margin: 1.6rem 0 0 0;
        font-size: 12.6rem;
        text-transform: uppercase;
        line-height: 11rem;
    }

    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 5.2rem;
        margin-left: 2px;
    }

    .item1 {
        position: relative;
        left: 17.3%;
        top: -121px;
        width: calc(660px + 286 * ((100vw - 750px) / 1170));
        height: calc(360px + 156 * ((100vw - 750px) / 1170));
        order: 1;
    }

    .authorContainer {
        position: absolute;
        border-radius: 0 0 374.515px 374.515px;
        width: 79.18%;
        bottom: 0;
        right: 8.14%;
        z-index: 60;
    }

    .authorImage {
        position: relative;
        top: 50px;
        left: 12.5%;
        width: 75%;
    }

    .circle {
        position: absolute;
    }

    .circle1 {
        width: 24.52%;
        right: 13.11%;
        top: 18.22%;
        z-index: 50;
    }

    .circle2 {
        width: 12.79%;
        right: 9.1%;
        top: 0;
        z-index: 40;
    }

    .circle3 {
        width: 43.97%;
        left: 0;
        top: 57.75%;
        z-index: 30;
    }

    .circle4 {
        width: 79.18%;
        right: 8.14%;
        bottom: 0;
        z-index: 20;
    }

    .circle5 {
        width: 43.97%;
        right: 0;
        top: 57.75%;
        z-index: 10;
    }

    .item2 {
        width: 50%;
    }

    .item3 {
        position: relative;
        top: 95px;
        width: 20.7%;
    }
}

main {
    margin-top: -403px;
}

.aboutMe {
    padding-top: 579px;
    p {
        padding:77px 0 77px 65px;
        border-left: 1px solid $black;
    }
    .shapeContainer {
        margin-top: -100px;
        display: flex;
        justify-content: space-between;
    }
    .overflow1 {
        display: flex;
        align-items: flex-end;
        width: calc(143px + 93 * ((100vw - 750px) / 1170));
        position: relative;
        bottom: -72px;
    }
    .shape1 {
        position: relative;
        left: -21.61%;
    }
    .overflow2 {
        width: calc(249px + 162 * ((100vw - 750px) / 1170));
    }
    .shape2 {
        position: relative;
        right: -48px;
    }
}

.projects {
    h2 {
        line-height: 13rem;
        position: relative;
        top: -66px;
        margin-bottom: 52px;
    }
    .projectDescription {
        margin-left: 34.3%;
        margin-bottom: 154px;
    }
    article {
        display: flex;
        margin-bottom: 227px;
    }
    .imageContainer {
        max-width: 57.3%;
    }
    .textContainer {
        padding-left: 11.1%;
        max-width: 42.7%;
        p {
            margin-bottom: 49px;
        }
    }
    .links {
        display: flex;
        a {
            width: 50%;
            border-radius: 7px;
            padding: 16px 0;
            transition: color 0.3s, background-color 0.3s;
        }
        a:hover {
            color: $lightBackground;
            background-color: $orange;
        }
    }
    .overflow1 {
        width: 16.15%;
    }

    .shape1 {
        position: relative;
        left: -40px;
    }
}

.contact {
    padding-bottom: 108px;
    h2 {
        margin-left: -5px;
        position: relative;
        top: -66px;
    }

    a {
        display: block;
    }

    .contactLinks, .row1, .row2 {
        display: flex;
    }

    .row1, .row2 {
        margin: 30px 0;
    }

    .contactLinks {
        justify-content: center;
        flex-wrap: wrap;
    }

    i {
        font-size: 10rem;
        margin: 0 35px;
        transition: color 0.3s;
    }
    i:hover {
        color: darken($orange, 10%);
    }
    .fa-github {
        margin-right: 26px;
    }
}

footer {
    p {
        text-align: center;
        margin: 56px 0;
    }
}