@media (max-width: 750px) {
    //global
    .wrapper, .innerWrapper {
        width: 88%;
        max-width: none;
        margin: 0 auto;
    }

    h1, h2 {
        font-size: 12rem;
    }

    //mainStyling
    header {
        margin-top: 301px;
        .item1 {
            order: 0;
            width: 660px;
            height: 360px;
            left: 0;
            top: 0;
        }

        .item2, .item3 {
            width: 100%;
        }

        .item3 {
            top: 59px;
            margin-left: 30.3%;
            margin-right: 22.12%;
        }

        h2 {
            margin-top: 62px;
        }
    }

    main {
        margin-top: -565px;
    }

    .aboutMe {
        padding-top: 700px;
        .overflow1 {
            bottom: -56px;
        }
    }

    .projects {
        .projectDescription {
            margin-bottom: 89px;
        }

        article {
            flex-direction: column;
            margin-bottom: 100px;
        }
        .imageContainer, .textContainer {
            max-width: none;
        }

        .imageContainer {
            margin-bottom: 100px;
        }

        .textContainer {
            padding-left: 0;
        }

        h2 {
            top: 0;
            margin-top: 100px;
        }

        h3 {
            font-size: 10rem;
            line-height: 13rem;
        }

        .overflow1 {
            display: none;
        }
    }

    .contact {
        
    }
}