@media (max-width: 1820px) {
    header {
        .authorDescription {
            max-width: 72%;
            margin: 0 auto;
        }
        .item1 {
            left: 0;
            top: 0;
            order: 0;
            margin: 0 auto;
        }

        .item2, .item3 {
            width: 100%;
        }

        .item3 {
            top: 59px;
            margin: 0 auto;
            max-width: 50%;
        }

        h2 {
            margin-top: 62px;
        }
    }
    .projects {

        article {
            flex-direction: column;
            margin-bottom: 100px;
        }
        .textContainer {
            max-width: none;
        }

        .imageContainer {
            margin: 0 auto;
            margin-bottom: 100px;
        }

        .textContainer {
            padding-left: 0;
        }

        h3 {
            font-size: 10rem;
            line-height: 13rem;
        }

        .overflow1 {
            display: none;
        }
    }
}

@media (max-width: 1050px) {
    .wrapper, .innerWrapper {
        width: 88%;
        max-width: none;
        margin: 0 auto;
    }

    .projects {
        h2 {
            top: 0;
            margin-top: 70px;
        }
    }
}

@media (max-width: 750px) {
    //global
    h2 {
        font-size: calc(7rem + 80 * ((100vw - 32rem) / 430));
        line-height: calc(8rem + 70 * ((100vw - 32rem) / 430));

    }

    p {
        font-size: calc(2rem + 5 * ((100vw - 32rem) / 430));
    }

    //mainStyling
    header {
        margin-top: calc(110px + 191 * ((100vw - 320px) / 430));

        .authorDescription {
            max-width: 100%;
        }
        .item1 {
            width: calc(280px + 380 * ((100vw - 320px) / 430));
            height: calc(153px + 207 * ((100vw - 320px) / 430));
        }
        h1 {
            font-size: calc(7rem + 56 * ((100vw - 32rem) / 430));
        }
        h2 {
            font-size: calc(3rem + 10 * ((100vw - 32rem) / 430));
        }
        .item3 {
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
        }
    }

    main {
        margin-top: -565px;
    }

    .aboutMe {
        padding-top: 700px;
        p {
            padding: 35px 0 35px 23px;
        }
        .shapeContainer {
            margin-top: -40px;
        }
        .overflow1 {
            bottom: -56px;
        }
    }
    .projects {
        h3 {
            font-size: calc(7rem + 30 * ((100vw - 32rem) / 430));
            line-height: calc(8rem + 50 * ((100vw - 32rem) / 430));
        }
        .imageContainer {
            margin-bottom: calc(50px + 50 * ((100vw - 320px) / 430));
        }
        article {
            margin-bottom: calc(45px + 55 * ((100vw - 320px) / 430));
        }
        .textContainer p {
            margin-bottom: calc(25px + 24 * ((100vw - 320px) / 430));
        }
    }
    .contact {
        h2 {
            top: -40px;
        }

        .nameInput, .emailInput {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .nameInput {
            margin-bottom: 14px;
        }
    }
}

@media (max-width: 320px) {
    p {
        font-size: 2rem;
    }

    header {
        margin-top: 110px;
        h1 {
            font-size: 7rem;
            line-height: 8rem;
        }
        h2 {
            font-size: 3rem;
        }
        .item1 {
            width: 280px;
            height: 153px;
        }
    }
    main {
        h2 {
            font-size: 7rem;
            line-height: 8rem;
        }
    }
    .projects {
        h3 {
            font-size: 7rem;
            line-height: 8rem;
        }
        .imageContainer {
            margin-bottom: 50px;
        }
        article {
            margin-bottom: 45px;
        }
        .textContainer p {
            margin-bottom: 25px;
        }
    }
}